.head_title{
	  height: 60px;
    background: #3575F8;
    text-align: center;
    width: 100%;
    font-size: 22px;
    color: white;
    line-height: 56px;
		letter-spacing: 4px;
}
.goBack{
	position: absolute;
	left: 20px;
}

.head_tip{
	font-size: 22px;
    padding: 12px;
}
.head_content{
	font-size: 14px;
    padding: 0px 8px 2px 12px;
    line-height: 20px;
}
header {
    background: #4498f8;
    color: #FFFFFF;
    position: relative;
    height: 300px;
}
.contentText{
	
}
.changeButtons{
	width: 80%;
    height: 42px;
    margin: 10px auto;
}
.changeButton{
	width: 49%;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    color: #367BF0;
    border: 1px solid #367BF0;
}
.chosedButton{
	background: #367BF0;
	color: white;
}
.noOrder{
	text-align: center;
    margin: 48px auto;
    font-size: 18px;
    line-height: 48px;

}
.orderList{
    width: 80%;
    /* height: 130px; */
    padding: 14px;
    margin: 15px auto;
    background: whitesmoke;    border-radius: 4px;
	}
	
	.orderList p{
	  margin: 6px 0px;
		}