<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>登录注册</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/login.css">
    <script type="text/javascript">
    	
   		document.addEventListener('plusready', function(){
   			//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"
   			
   		});
   		
    </script>
</head>
<body>
	<header>
		<div class="back"><</div>
		<div class="title">忘记密码</div>
	</header>
	<div class="form_submit form_submit_login">
		<div class="username input_border">
			<input type="text" class="login_input" placeholder="请输入手机号码">
		</div>
		<div class="password input_border message">
			<input type="text" class="login_input input_message" placeholder="请输入验证码">
			<input type="text" class="get_message" value="获取验证码" disabled="disabled">
		</div>
		<div class="password set_pwd input_border">
			<input type="text" class="login_input" placeholder="请设置密码">
		</div>
		<div class="password confirm_pwd input_border">
			<input type="text" class="login_input" placeholder="请确认密码">
		</div>
		<div class="confirm">完成</div>
	</div>
</body>
</html>