<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>登录注册</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/login.css">
    <script type="text/javascript">
    	
   		document.addEventListener('plusready', function(){
   			//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"
   			
   		});
   		
    </script>
</head>
<body>
	<header>
		<div class="back"><</div>
		<div class="title">登录</div>
	</header>
	<div class="logo">
		<img src="../img/logo.jpg" alt="">
	</div>
	<div class="form_submit">
		<div class="username input_border">
			<input type="text" class="login_input" placeholder="请输入手机号码">
		</div>
		<div class="password input_border">
			<input type="text" class="login_input" placeholder="请输入密码">
		</div>
		<div class="agree_policy">
			<input type="checkbox">
			<span><a href="">同意借款协议</a></span>
		</div>
		<div class="confirm">登录</div>
		<div class="other_action">
			<a href="" class="forget_password">忘记密码</a>
			<a href="" class="sign_up">注册</a>
		</div>
	</div>
</body>
</html>